@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary: rgb(248, 23, 23);
    --secondary: rgba(0, 0, 0, 1);
    --text: rgba(255, 255, 255, 0.7);
}

body{
    background: var(--secondary);
}

h1{
    font-size: 72px;
    font-weight: 700;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 36px;
}

h4{
    font-size: 24px;
}

/*  Cursor */
.cursor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--primary);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.1s;
    /* transition-property: background , transform; */
    transform-origin: 100% 100%;
    z-index: -1;
}

.cursor-point {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: rgba(248, 23, 23, 0.5);
    transition: all 0.2s;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1;
}


/* Header */
header{
    width: 100%;
    min-height: 700px;  
}

.navbar-dark .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 1) !important;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active{
    color: var(--primary) !important;
}

.navbar-dark .navbar-nav .nav-link.active{
    color: var(--primary) !important;
} */

.navbar-dark .navbar-toggler{
    border: none !important;
}

.navbar-dark .navbar-toggler:hover{
    color: var(--primary);
}

.hero-container{
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    position: relative;
}

.hero-container .hero-content h4{
    color: var(--primary)   ;
}

.hero-container .hero-content h1 span{
    color: var(--primary)   ;
}

.hero-container .hero-content h3{
    margin-bottom: 2rem;
}

.hero-container .hero-content a{
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--primary);
    border-radius: 10px;
    color: var(--primary);
    font-size: 1rem;
    background: transparent;
    transition: background 0.5s ease-in-out;
}

.hero-container .hero-content a:hover{
    background-color: var(--primary);
    color: #fff;
}

.social-media{
    position: absolute;
    bottom: 10%;
    right: 0;
    display: flex;
    flex-direction: column;
}

.social-media a {
    font-size: 24px;
    margin-top: 1rem;
    transition: color 0.5s ease-in-out;
    cursor: pointer;
    animation: animate-si 5s ease-in-out 1;
}

.social-media a:nth-of-type(2){
    animation-delay: 0.25s;
}

.social-media a:nth-of-type(3){
    animation-delay: 0.5s;
}

.social-media a i:hover {
    color: var(--primary);
}

@keyframes animate-si{
    0%{
        transform: translateY(-600px);
    }

    50%{
        transform: translateY(0px);
    }

    75%{
        transform: translateY(-200px);
    }

    80%{
        transform: translateY(-200px);
    }

    100%{
        transform: translateY(0px);
    }
}

/* About */
#about{
    width: 100%;
    display: flex;
    align-items: center;
}

.heading hr{
    width: 100px;
    background-color: var(--primary);
    height: 3px;
    margin: auto 1rem;
    border: none;
    opacity: 1;
}

.heading p{
    color: rgba(255, 255, 255, 0.7);
}

.heading p span{
    font-style: normal;
}

.web-tech{
    max-width: 400px;
}

.web-tech ul{
    list-style: none;
}

.web-tech ul li::before{
    content: "\2022";
    color: var(--primary);
    font-size: 20px;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.wrapper{
    width: 200px;
    height: 200px;
    margin: 15% auto;
    box-shadow: 5px 20px 100px 50px rgba(248, 23, 23, 0.3),
                inset 5px 20px 100px 50px rgba(248, 23, 23, 0.3);
}

.box-area{
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    animation:  animate-box 12s ease-in infinite 1s;
}

.box-area div{
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid var(--primary);
}

.box i{
    clear: both;
    color: #fff;
    font-size: 64px;
    margin-bottom: 1rem;
}

.box:nth-of-type(1){
    transform: translateZ(100px);
}

.box:nth-of-type(2){
    transform: rotateY(90deg) translateZ(100px);
}

.box:nth-of-type(3){
    transform: rotateY(-90deg) translateZ(100px);
}

.box:nth-of-type(4){
    transform: rotateX(90deg) rotateZ(-90deg) translateZ(100px);
}

.box:nth-of-type(5){
    transform: rotateX(-90deg) rotateZ(90deg) translateZ(100px);
}

.box:nth-of-type(6){
    transform: rotateZ(180deg) rotateX(180deg) translateZ(100px);
}

@keyframes animate-box {
    to, from{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    0%{
        transform: rotateY(0deg);
    }

    15%{
        transform: rotateY(90deg);
    }

    30%{
        transform: rotateY(180deg);
    }

    45%{
        transform: rotateY(270deg);
    }

    60%{
        transform: rotateY(270deg) rotateZ(90deg);
    }

    80%{
        transform: rotateY(270deg) rotateZ(270deg);
    }

    100%{
        transform: rotateY(360deg);
    }
}

/* Skills */
#skills{
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
}

.skill .fas, .skill .fab{
    font-size: 42px;
    color: var(--primary);
}

/* Projects */
.nav-tabs{
    border: none;
}

.nav-tabs .nav-link{
    color: #fff;
    border: none;
}

.nav-tabs .nav-link.active, .nav-tabs .show>.nav-link, .nav-tabs .nav-link:hover{
    color: var(--primary);
    background-color: transparent;
    border: none;
}

.project{
    margin: 1rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.project-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateX(100%);
    -webkit-transition: all 0.5s ease-in-out 0.5s;
    -moz-transition: all 0.5s ease-in-out 0.5s;
    -o-transition: all 0.5s ease-in-out 0.5s;
    transition: all 0.5s ease-in-out 0.5s;
}

.project:hover .project-content{
    transform: translateX(0);
}

.project-link i {
    font-size: 24px;
    margin: 1rem;
    cursor: pointer;
}

.project-link i:hover {
    color: var(--primary);
}

/* Footer */
footer .logo{
    text-decoration: none;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}

footer p span{
    color: var(--primary);
}

/* Mobile Screen */
@media screen and (max-width: 500px){
    h1{
        font-size: 48px;
        font-weight: 700;
    }
    
    h2{
        font-size: 28px;
    }
    
    h3{
        font-size: 22px;
    }
    
    h4{
        font-size: 18px;
    }

    header{
        min-height: 500px;
    }

    .hero-container{
        min-height: 400px;
        text-align: center;
    }

    .social-media{
        bottom: 0%;
        width: 100%;
        flex-direction: unset;
        justify-content: space-around;
    }

    .heading hr{
        width: 50px;
    }

    .skill{
        margin-bottom: 4rem;
        text-align: center;
    }

    #contacts h3{
        font-size: 18px;
    }
}
